@import "../variables.scss";

.cart-modal {
  position: absolute;
  top: 4.5rem;
  right: 0;
  width: 18rem;
  height: 12rem;
  border-radius: 0.5rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
  
  .cart-modal-container {
    display: flex;
    flex-direction: column;
    
    .cart-modal-container-top {
      border-bottom: 1px solid $middleGray;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cart-modal-container-bottom {
      display:flex;
      justify-content: center;
      align-items: center;
      height: 9rem;
      
      p {
        color: $mainGray;
      }

      .cart-modal-item {
        padding: 1rem;
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
        align-items: center;

        .cmi-main-pic {
          flex: 2;
          
          img {
            width: 100%;
            border-radius: 0.3rem;
          }
        }

        .cart-modal-item-text {
          flex: 12;
          font-size: 0.875em;

          p {
            line-height: 0.5em;
          }

          .modal-item-price {
            margin-left: 1rem;
            color: black;
            font-weight: 700;
          }
        }

        i {
          flex: 1;
          color: $mainGray;
          cursor: pointer;

          &:hover {
            color: black;
          }
        }
      }
    }
  } 

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}