* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;

  &:visited, &:hover, &:focus {
    color: black;
  }
}

ul {
  list-style: none;
}

.App {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* COLORS */
